# flyctl launch added from .gitignore
**/Thumbs.db
**/.DS_Store
**/**/.gradle
**/**/build
**/target
**/out
**/.micronaut
**/**/.idea
**/.idea
**/*.iml
**/*.ipr
**/*.iws
**/.project
**/.settings
**/.classpath
**/.factorypath

# flyctl launch added from .idea/.gitignore
# Default ignored files
.idea/shelf
.idea/workspace.xml
# Editor-based HTTP Client requests
.idea/httpRequests
# Datasource local storage ignored files
.idea/dataSources
.idea/dataSources.local.xml
fly.toml
